body{
    width: 100vw;
    height: 100vh;
}

h1, h2, p, a, label {
    color: white;
}

/*The content of the entire page*/
#aboutPage {
    display: flex;
}

/*The grey bar on the left*/
#menu {
    background-color: #545454;
    padding: 0 20px;
    width: 25%;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    position: relative;
}

#menu h1 {
    padding: 20px 0;
    
}

#menu h1, #menu p {
    margin-top: 30px;
    color: white;
}

/*All of the buttons*/
.svgButtons{
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
}

/*Dropdown menu*/
.dropdownContent {
    position: absolute;
    left: 0;
    width: 0px;
    background-color: #f9f9f9;
    z-index: 9;
    flex-direction: column;
    display: flex;
    transition: 0.5s;
    overflow: hidden;
}

/*The burger bar*/
#openMenu {
    color: white;
    position: absolute;
    top: 20px;
}

#openMenu:hover {
    color: #c5c5c5;
}

/*The x to close the burger bar*/
#closeMenu {
    color: #545454;
    padding: 12px 16px;
    position: static;
}

#closeMenu:hover {
    color: #fc3136;
}

/* Links inside menu */
.dropdownContent a {
    padding: 12px 16px;
    color: #545454 !important;
    transition: 0.3s;
    width: 100%;
}

.dropdownContent a:hover {
    background-color: #3c9afc;
}

.dropdownContent.open {
    width: 100%;
}

/*The content of the page (The white page with text)*/
#moreAboutPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
}

#moreAboutPage p {
    color: #444444 !important;
}

/*The paragraphs about each event*/
#aboutHajj, #aboutLoveParade, #aboutItaewon {
    display: none;
}

#aboutHajj h1, #aboutLoveParade h1, #aboutItaewon h1 {
    color: #545454;
    font-size: 40px;
}

/*The pictures on the side of the page*/
#hajjPicture, #loveParadePicture, #itaewonPicture {
    display: none;
    border-radius: 16px;
}